.companyDetails {
  display: flex;
  flex-direction: row;
}

.projects-heading {
  color: #0f172a;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
}

.companyDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
}

.companyname {
  color: rgb(5, 3, 3);
  font-size: 18px;
  font-weight: 700;
  margin: auto 0;
}

.experience {
  font-size: 14px;
  font-weight: 700;
  color: aliceblue;
  align-self: center;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .projects-heading {
    font-size: 25px;
  }
}

.projects-heading1 {
  color: #0f172a;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
}

.list-items {
  color: rgb(31, 12, 12);
  font-size: 15px;
  line-height: 2;
  font-weight: 500;
}
